[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
pandas = "*"
uvicorn = "*"
cloud-sql-python-connector = {extras = ["pg8000"], version = "*"}
pycryptodome = "*"
python-multipart = "*"
psycopg2-binary = "*"
wbgapi = "*"
sqlmodel = "*"
fastapi = {extras = ["standard"], version = "*"}
tqdm = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.11"
